<div style="max-width:100%; text-align:center;">
    <img src="https://i0.wp.com/learn.onemonth.com/wp-content/uploads/2017/08/1-10.png?w=845&ssl=1" alt="" style="width:100%; max-width:845px;">
</div>
