<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                <%if (locals.changed==false){%>
                    <p style="color: red;" id="already-exist" class="message">Email not found</p>
                    <%}%>

            <form action="/change-password" method="post">
  
                <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>


                <p class="text-white-50 mb-5">Please enter your email & new password</p>

                <div class="form-outline form-white mb-4">
                    <input type="email" id="email" class="form-control form-control-lg" required="true" name="email" placeholder="email" onkeyup="validateEmail()" />
                    <span id="email-error" class="validation-label"></span>
                    
                </div>
  
                <div class="form-outline form-white mb-4">
                    <input type="password" id="password" class="form-control form-control-lg" required="true" name="password" placeholder="password" onkeyup="validatePassword()" />
                    <span id="pass-error" class="validation-label"></span>
                </div>
    
                <div class="form-outline form-white mb-4">
                    <input type="password" id="confirm_password" class="form-control form-control-lg" required="true" placeholder="confirm password" onkeyup="validatePassword()"/>
                   
                </div>
    
                  <button class="btn btn-outline-light btn-lg px-5" type="submit" onclick="return validateForm()">Reset</button>
                  <span id="submit-error" class="validation-label"></span>
  
                
            </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    let passError=document.getElementById("pass-error");
    let submitError=document.getElementById("submit-error")
    let emailError = document.getElementById("email-error");

    function validateEmail() {
      var email = document.getElementById("email").value;
      var emailInput = document.getElementById("email");
    
      if (email.length == 0) {
        emailError.innerHTML = "Email is required";
        emailError.style.color = "red";
        emailInput.style.border = "solid 2px red";
    
        return false;
      }
      if (!email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
        emailError.innerHTML = "Email invalid";
        emailError.style.color = "red";
        emailInput.style.border = "solid 2px red";
    
        return false;
      }
      emailError.innerHTML = "";
      emailError.style.color = "green";
      emailInput.style.border = "solid 2px green";
      return true;
    }

    function validatePassword(){
        
        let password = document.getElementById("password").value;
        let passwordInput = document.getElementById("password")
        let cnfrmPassword = document.getElementById("confirm_password").value;
        let cnfrmPasswordInput= document.getElementById("confirm_password")
        console.log(password);
        console.log(cnfrmPassword);
        
            if(password.length != 0){
                if(password == cnfrmPassword){
                    passError.innerHTML = "Passwords match";
                    passError.style.color = "green";
                    passwordInput.style.border = "solid 2px green";
                    cnfrmPasswordInput.style.border = "solid 2px green";
                    return true
                }
                else if (!password.match(/[a-zA-Z]/)) {
                  passError.innerHTML = "Password must contain atleast 1 letter";
                  passError.style.color = "red";
                  passwordInput.style.border = "solid 2px red";
                  return false;
                }
                else if (!password.match(/^.{8,}$/)) {
                  passError.innerHTML = "Password min-length 8";
                  passError.style.color = "red";
                  passwordInput.style.border = "solid 2px red";
                  return false;
                }
                else if (!password.match(/^(?=.*[\W_])[\w\W]/)) {
                  passError.innerHTML = "Password must contain atleast one special character";
                  passError.style.color = "red";
                  passwordInput.style.border = "solid 2px red";
                  return false;
                }
                else{
                    passError.innerHTML = "Password don't match";
                    passError.style.color = "red";
                    passwordInput.style.border = "solid 2px red";
                    return false
        
        
                }
            }
            else{
                
                message.textContent = "";
            }
        }
    
    function validateForm() {
      if (
        !validateEmail()||
        !validatePassword()
        
      ) {
          submitError.style.display = "block";
          submitError.innerHTML = "Please fix all errors to submit.";
          submitError.style.color = "red";
        setTimeout(function () {
          submitError.style.display = "none";
        }, 3000);
        return false;
      }
    }
    
      setTimeout(function() {
        document.querySelector('.message').style.display = 'none';
      }, 5000);
  </script>