
<body>
  <section class="wrapper mt-5 mb-5">
    <div class="container mt-5 mb-5">
      <div
        class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 text-center"
      >


        <form
          action="/number"
          method="post"
          class="rounded bg-white shadow mt-5 p-5"
        >
          <h3 class="text-dark fw-bolder fs-4 mb-2">Enter your Number</h3>



          <div
            class="d-flex align-items-center justify-content-center fw-bold mb-4"
          >
          </div>

          <%if(locals.userExist==false){%>
          <p style="color: red" id="Invalid" class="message">User not exist</p>
          <%}%>

          <div class="otp_input text-start mb-2">
            <div class="d-flex align-items-center justify-content-between mt-2">
              <input
                type="text"
                class="form-control"
                name="number"
                placeholder=""
              />
            </div>
          </div>

          <button type="submit" class="btn btn-dark submit_btn my-4">
            Submit
          </button>
        </form>
      </div>
    </div>
  </section>
</body>
<!-- </html> -->

<script>
  setTimeout(function () {
    document.querySelector(".message").style.display = "none";
  }, 4000);
</script>
