<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Orders ID</th>
        <th scope="col">Date & Time</th>
        <th scope="col">Order Status</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Mark</td>
        <td>Otto</td>
        <td><a href="/order_details" class="btn btn-info">Order Details</a></td>
      </tr>
      
    </tbody>
  </table>