
<body>
  <section class="wrapper">
    <div class="container">
      <div
        class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 text-center"
      >

        <form action="/otp" method="post" class="rounded bg-white shadow p-5">
          <h3 class="text-dark fw-bolder fs-4 mb-2">OTP Verification</h3>

          <div class="fw-normal text-muted mb-4">
            Enter the verification code we sent to
          </div>

          <div
            class="d-flex align-items-center justify-content-center fw-bold mb-4"
          >
            <span>YOUR MOBILE NUMBER</span>
          </div>

          <%if(locals.wrongOTP==true){%>
          <p style="color: red" id="Invalid" class="message">Invalid OTP</p>
          <%}%>

          <div class="otp_input text-start mb-2">
            <label for="digit">Type your 6 digit security code</label>
            <div class="d-flex align-items-center justify-content-between mt-2">
              <input
                type="text"
                class="form-control"
                name="otp"
                placeholder=""
              />
            </div>
          </div>

          <button type="submit" class="btn btn-primary submit_btn my-4">
            Submit
          </button>

          <div class="fw-normal text-muted mb-2">
            Didn’t get the code ?
            <a href="#" class="text-primary fw-bold text-decoration-none"
              >Resend</a
            >
          </div>
        </form>
      </div>
    </div>
  </section>
</body>
<!-- </html> -->

<script>
  setTimeout(function () {
    document.querySelector(".message").style.display = "none";
  }, 3000);
</script>
